{% extends 'base.html.twig' %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Available rooms</h1>
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="searchbar" id="search-input" placeholder="Search by name..." >
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" id="search-button" type="button"> Szukaj </button>
                </div>
            </div>
        </div>
    </section>
        <div id="productsResult" class="album py-5 bg-light">
            <div class="container">
                <input type="hidden" id="currentPage" value="{{ currentPage }}">
                <p>Strona: {{ currentPage }}</p>
                {% if currentPage > 1 %}
                    <a href="{{ currentPage - 1 }}" id="pagination-prev" class="btn btn-primary">Previous</a>
                {% endif %}
                {% if currentPage < pages %}
                    <a href="{{ currentPage + 1 }}"id="pagination-next" class="btn btn-primary">Next</a>
                {% endif %}
                <div class="row">
                    {% for availableRoom in availableRooms %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <h2>{{ availableRoom.name }}</h2>
                            <img class="card-img-top" src="{{ availableRoom.mainImage }}" alt="Card image cap">
                            <div class="card-body" style="min-height: 200px;">
                                <p class="card-text">{{ availableRoom.shortDescription }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    {% if is_granted("ROLE_USER") %}
                                        <div class="btn-group">
                                            <a href="/show/{{ availableRoom.id }}" class="btn btn-sm btn-outline-secondary">More informations</a>
                                        </div>
                                    {% else %}
                                        <a href="/login" class="p-1">Zaloguj się aby zobaczyć content</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>

{% endblock %}